
{% extends "layout.html" %}

{% block pageTitle %}
  Where is your principal place of business?
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<!--<a href="javascript:history.back();" class="govuk-back-link">Back</a>-->
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!--<form action="choosing-organisation" method="post" class="form">-->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-9">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-2">
                Where is your principal place of business?
              </h1>
            </legend>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What is the principal place of business?
                </span>
              </summary>
              <div class="govuk-details__text">
                For companies and LLPs this is where your business is registered. For others, this is where the day-to-day business is run.
              </div>
            </details>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <!--<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Where do you live?
                  </h1>
                </legend>-->
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                      England
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                      Wales
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                      Scotland
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                      Northern Ireland
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                      Not in the United Kingdom
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <br />
              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>
      </form>
    </div>
  </div>

{% endblock %}
